$primary: rgb(29, 29, 29);
$primarydark: rgb(18, 18, 18);
$secondary: rgb(237, 86, 21);
$secondarydark: rgb(197, 72, 18);
$tertiary: rgb(255, 255, 255);

.cart {
  height: 96vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  > main {
    padding: 2rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    > h1 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2rem;
      font: 100 2rem "josefin Sans";
      color: $primarydark;
    }
  }
  > aside {
    border-radius: 0 0 0 100px;
    background-color: $primary;
    color: $tertiary;
    height: 100%;
    width: 100%;
    bottom: 0 !important;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.182);
    display: flex;
    justify-content: center;
    flex-direction: column;
    > h2 {
      margin: 1rem;
      font: 100 1.8rem "Roboto";
      letter-spacing: 2px;
      &:last-of-type {
        font-weight: 600;
      }
    }
  }
}

.cartItem {
  background-color: $tertiary;
  color: $primary;
  width: 100%;
  border-radius: 10px;
  margin: 2rem 0;
  padding: 1rem;
  display: grid;

  grid-template-columns: 1fr 3fr 1fr 1fr;
  align-items: center;
  img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  > div {
    display: flex;
    align-items: center;
    height: 100%;
    button {
      width: 30px;
      height: 30px;
      border: none;
      background-color: $primary;
      color: $tertiary;
      border-radius: 5px;
      font: 900 1rem "Roboto";
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.2);
        background-color: $primarydark;
      }
    }
    > p {
      width: 30px;
      height: 30px;
      display: grid;
      place-items: center;
    }
  }
  > svg {
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s;
    display: inline-block;
    margin: auto;
    &:hover {
      transform: scale(1.2);
      color: $secondary;
    }
  }
}

@media screen and (max-width: 600px) {
  .cart {
    grid-template-columns: 1fr;
    > aside {
      border-radius: 0;
      > h2 {
        font: 100 1.2rem "Roboto";
      }
    }
  }
  .cartItem {
    padding: 0.5rem;
    article {
      margin-left: 5px;
    }
  }
}
